Repository etalab-ia/franceservices-backend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:pyalbert, test:api, build:llm, build:api

.gitlab-ci.yml:

stages:
  - test
  - build

.build_template:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - | # build and push image to gitlab registry
      docker login --username gitlab-ci-token --password $CI_JOB_TOKEN $CI_REGISTRY

      if [[ $CI_COMMIT_BRANCH == "dev" ]]; then
        docker build --tag ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA} $BUILD_ARGS $BUILD_CONTEXT
        docker push ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}
        docker tag ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA} ${IMAGE_NAME}:latest
        docker push ${IMAGE_NAME}:latest

      elif [[ $CI_COMMIT_BRANCH == "main" ]]; then
        docker build --tag ${IMAGE_NAME}:stable $BUILD_ARGS $BUILD_CONTEXT
        docker push ${IMAGE_NAME}:stable

      fi

cache:
  paths:
    - .cache/pip
    - venv/

################# TEST #####################

test:pyalbert:
  stage: test
  image: python:3.10-slim
  rules:
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "staging" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"
      changes:
        - pyalbert/**/*.py
      when: always
  before_script:
  - |
    python -m venv venv
    source venv/bin/activate
    pip install --cache-dir .cache/pip .[test]
  script:
    - pytest -W ignore

test:api:
  stage: test
  image: python:3.10-slim
  rules:
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "dev" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "staging" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"
      changes:
        - .gitlab-ci.yml
        - api/app/**/*.py
        - api/pyproject.toml
        - pyalbert/**/*.py
      when: always
  before_script:
  - |
    apt-get update && apt-get install -y npm
    npm install -g @stoplight/prism-cli@5.8.3
    python -m venv venv
    source venv/bin/activate
    pip install --cache-dir .cache/pip api/.[test]
  script:
    - cd api/ && pytest -W ignore

################## BUILD ###################

build:llm:
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - llm/**/*
  variables:
    IMAGE_NAME: "${CI_REGISTRY_IMAGE}/llm"
    BUILD_CONTEXT: "./llm"
    BUILD_ARGS: "--file ./llm/Dockerfile"
  extends: .build_template

build:api:
  rules:
    - if: $CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"
      changes:
        - api/**/*
  variables:
    IMAGE_NAME: "${CI_REGISTRY_IMAGE}/api"
    BUILD_CONTEXT: "./api"
    BUILD_ARGS: "--file ./api/Dockerfile"
  extends: .build_template

debug
  pyalbert/config.py
Due: test:pyalbert, test:api

Utilisation pyalbert 7.7
  api/Dockerfile
  api/app/main.py
  api/pyproject.toml
  pyalbert/config.py
Due: test:pyalbert, test:api, build:api

Mise à jour pyproject
  api/pyproject.toml
Due: test:api, build:api

Mise à jour pyproject authlib
  api/pyproject.toml
Due: test:api, build:api

Mise à jour pyproject jwt et faker
  api/pyproject.toml
Due: test:api, build:api

Mise à jour pyproject pyjwt
  api/pyproject.toml
Due: test:api, build:api

Ajout documentation publication pyalbert et fix github
  .github/workflows/build_and_deploy.yml
  docs/packaging.md
Due: none

test deploiement auto
  .github/workflows/build_and_deploy.yml
Due: none

Fix ref et application_to_deploy
  .github/workflows/build_and_deploy.yml
Due: none

Fix pipeline (#17)
  .github/workflows/build_and_deploy.yml
  api/Dockerfile
  api/pyproject.toml
  docs/packaging.md
Due: test:api, build:api

Ajout branche github actions
  .github/workflows/build_and_deploy.yml
  api/pyproject.toml
Due: test:api, build:api

proconnect
  .github/workflows/build_and_deploy.yml
Due: none

Fix dependances
  api/pyproject.toml
Due: test:api, build:api

Fix pyalbert
  api/pyproject.toml
Due: test:api, build:api

fix: simply redirect the /v1 request to albert-api.
  api/app/endpoints/openai.py
Due: test:api, build:api

#313 added operators & themes
  .gitignore
  api/alembic/versions/92ecafbb1549_update_chat_model_with_operators_as_json.py
  api/app/endpoints/stream.py
  api/app/models/chat.py
  api/app/models/stream.py
  api/app/schemas/chat.py
  api/pyproject.toml
  contrib/docker/elasticsearch/docker-compose.yml
  pyalbert/_version.py
  pyalbert/config.py
  pyalbert/corpus/parser.py
  pyalbert/prompt/prompt.py
  pyalbert/prompt/templates/prompt_config.yml
  pyalbert/prompt/templates/rag_gt_prompt_operators_template.jinja
  pyproject.toml
Due: test:pyalbert, test:api, build:api

#316 removed qa ChatType & added evaluations
  api/app/schemas/chat.py
Due: test:api, build:api

#315 saving organization_name and organization_id at account signup
  api/app/crud/user.py
Due: test:api, build:api

fix tests
  api/app/endpoints/stream.py
  api/app/tests/cases/archive.json
  api/app/tests/endpoints/test_chat.py
  api/app/tests/endpoints/test_stream.py
  api/app/tests/utils/chat.py
Due: test:api, build:api

removed auth for /organizations/mfs
  api/app/endpoints/misc.py
Due: test:api, build:api

update jinja template for better references and replace Guillaumetell by Llama
  pyalbert/prompt/templates/rag_gt_prompt_operators_template.jinja
Due: none

fix: update pyalbert version
  api/pyproject.toml
  pyalbert/_version.py
  pyproject.toml
Due: test:pyalbert, test:api, build:api

feat: updated feeback endpoint for evaluations
  api/alembic/versions/2592138760af_added_fields_to_feeback.py
  api/alembic/versions/c2724d7a4ab4_update_feedback_to_receive_positives_.py
  api/alembic/versions/f1ec44cacbfe_update_feedback_to_receive_positives_.py
  api/app/endpoints/feedback.py
  api/app/models/feedback.py
  api/app/schemas/feedback.py
Due: test:api, build:api

fix: updated models & tests
  api/app/models/feedback.py
  api/app/schemas/feedback.py
  api/app/tests/cases/archive.json
  api/app/tests/endpoints/test_stream.py
  api/archive_got.json
Due: test:api, build:api

fix: allowed to add one positives or one negatives or both
  api/app/schemas/feedback.py
Due: test:api, build:api

fixed migrations to add feeback type
  api/alembic/versions/2592138760af_added_fields_to_feeback.py
  api/alembic/versions/c2724d7a4ab4_update_feedback_to_receive_positives_.py
  api/app/models/feedback.py
Due: test:api, build:api

added more negative feedbacks
  api/app/crud/feedback.py
  api/app/models/feedback.py
  api/app/schemas/feedback.py
Due: test:api, build:api

added llama prompt mode
  pyalbert/prompt/templates/prompt_config.yml
  pyalbert/prompt/templates/rag_gt_prompt_operators_llama_template.jinja
Due: none

Ajout branche dev ci
  .github/workflows/build_and_deploy.yml
Due: none

pyalbert 0.7.9
  api/pyproject.toml
  pyalbert/_version.py
  pyproject.toml
Due: test:pyalbert, test:api, build:api

pyalbert 0.8.0
  api/pyproject.toml
  pyalbert/_version.py
  pyalbert/config.py
  pyproject.toml
Due: test:pyalbert, test:api, build:api

added logs
  api/app/clients/mailjet_client.py
  api/app/endpoints/login.py
Due: test:api, build:api

added more logs to mailjet
  api/app/clients/mailjet_client.py
Due: test:api, build:api

fix: pyalbert version for embedding model
  api/pyproject.toml
  pyalbert/_version.py
  pyalbert/config.py
  pyproject.toml
Due: test:pyalbert, test:api, build:api
